<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Latex Studio" Language="1046" Codepage="1252" Version="1.0.0.0" Manufacturer="LatexStudio" UpgradeCode="C6D1F234-5B67-4E89-BCDE-901234567890">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" SummaryCodepage="1252" />

        <MajorUpgrade DowngradeErrorMessage="Uma versão mais recente do [ProductName] já está instalada." />
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="LatexStudio" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Latex Studio" />
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Latex Studio"/>
            </Directory>
        </Directory>

        <DirectoryRef Id="INSTALLFOLDER">
            <!-- Os ficheiros serão injetados aqui pelo comando de build -->
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut" 
                          Name="Latex Studio" 
                          Description="Editor Visual de LaTeX"
                          Target="[INSTALLFOLDER]LatexStudio.exe"
                          WorkingDirectory="INSTALLFOLDER"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\LatexStudio" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Product>
</Wix>
